@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-roboto);
  @apply antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0 p-0;
}

.shadow-legend .ant-pro-card {
  @apply shadow-large z-10;
}

.legend .ant-pro-card-body {
  padding-block-start: unset !important;
  @apply px-2 pb-1 !pt-2;
}

.ant-pro-card .ant-pro-card-body {
  padding-inline: 0;
  padding-block: 0;
}

.ant-pro-list-row-content {
  margin-inline: 0;
}

.divider-0 ::before {
  content: unset !important;
}

.table-reset th {
  background-color: white !important;
  font-weight: 400 !important;
  border-bottom: 0 !important;
  color: #686464 !important;
}

button {
  @apply border-0 bg-transparent;
}

th {
  font-weight: 500 !important;
}

.table-reset th::before {
  content: unset !important;
}

.segmented-primary .ant-segmented-item-selected {
  @apply !bg-primary-6 !text-white;
}

.segmented-primary .ant-segmented-thumb {
  @apply !bg-primary-6 !text-white;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden .ant-table-content::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden .ant-table-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.selected-date .ant-picker-input input {
  @apply !text-blue-500;
}

.ant-table-filter-dropdown {
  @apply !max-w-sm;
}

.client-details-radio-group label {
  @apply !flex-auto;
}

.delete-confirm-overlay .ant-popconfirm-buttons {
  @apply !flex;
}

.delete-confirm-overlay .ant-popconfirm-buttons > button {
  @apply !flex-1;
}

.delete-confirm-overlay .ant-popconfirm-description {
  @apply !mt-2 !mb-6;
}
